body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
}

.email-error {
  display: none;
}

.active {
  display: block;
}

label {
  margin-top: 1rem;
}

button {
  margin-top: 1rem;
}